<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtine.model.dao.UserDao">
	<select id="getUserDtoByUserIdAndPassword" resultType="UserDto">
		select * from users where user_id = #{userId} and user_password = #{userPassword}
	</select>
	<select id="getUserDtoByUserId" resultType = "UserDto">
		select * from users where user_id = #{userId}
	</select>
	<insert id = "registUserDto" parameterType="UserDto">
		insert into users (user_id, user_password, user_nickname, user_name, user_email, user_phonenumber, user_isadmin, user_profile_fileid, user_profile_filename) VALUES (
			#{userId}, #{userPassword}, #{userNickname}, #{userName}, #{userEmail}, #{userPhoneNumber}, false, "user_icon.png", "user_icon.png"
		)
	</insert>
	<delete id="deleteUserDtoByUserId" parameterType="String">
        DELETE FROM users WHERE user_id = #{userId}
    </delete>
    <select id="getUserDetail" resultType = "UserDto">
		select * from users where user_no = #{userNo}
	</select>
	
	<select id="getAllUsers" resultType = "UserDto">
		select * from users
	</select>
	
	<insert id = "insertStreak" parameterType="StreakDto">
		insert into streak (user_no, health_date) VALUES (
			#{userNo}, CURDATE()
		)
	</insert>
	
</mapper>